* {
  box-sizing: border-box;
}

#player {

}

#game {
  width: 600px;
  height: 700px;
  border: 1px solid lightgrey;
  margin: 0px auto;
  position: relative;
}

// .game-container {
//   width: 600px;
//   height: 700px;
//   border: 1px solid lightgrey;
//   margin: 0px auto;
//   position: relative;
// }

.face-right {
  transform: scaleX(-1);
}

.player-run {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -176px -4px;
	width: 15px;
	height: 15px;
  position: absolute;
  top: 262px;
  left: 110px;
  //zoom: 2;
}

.player-stand {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -158px -3px;
	width: 12px;
	height: 16px;
  position: absolute;
  top: 262px;
  left: 110px;
  //zoom: 2;
}

#donkeykong {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -108px -152px;
	width: 40px;
	height: 32px;
  position: absolute;
  //zoom:2;
  left: 125px;
}

.barrel {
  // background: url('../images/donkeyKong game sprite.gif') no-repeat -96px -259px;
	// width: 15px;
	// height: 10px;
  // position: absolute;
  // zoom:2.5;
  // left: 0px;
  // top: 0px;
}
