* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

.player-left {
  transform: scaleX(-1);
  background: url('../images/donkeyKong game sprite.gif') no-repeat -158px -3px;
	width: 12px;
	height: 16px;
  position: absolute;
  //top: 238px;
  //zoom:2;
}

.player-run {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -176px -4px;
	width: 15px;
	height: 15px;
  position: absolute;
  //top: 238px;
  //zoom: 2;
}

.player-right {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -158px -3px;
	width: 12px;
	height: 16px;
  position: absolute;
  //top: 238px;
  //left: 110px;
  //zoom: 2;
}

#donkeykong {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -108px -152px;
	width: 40px;
	height: 32px;
  position: absolute;
  //zoom:2;
  left: 125px;

}

.barrel {
  background: url('../images/donkeyKong game sprite.gif') no-repeat -96px -259px;
	width: 15px;
	height: 10px;
  position: absolute;
  //zoom:2;
  left: 0px;
  top: 0px;
}

.game-boy {
  background-image: url('../images/game_window.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 900px;
  height: 900px;
  margin: 0px auto;
  z-index: 0;
  position: relative;
}

.start-game {
  width: 76px;
  height: 27px;
  background-color: white;
  z-index: 1;
  position: absolute;
  left: 430px;
  top: 715px;
  transform: skewY(-25deg);
  border-radius: 12px;
  opacity: 0;
}

.power {
  width: 13px;
  height: 13px;
  background-color: #d92708;
  position: absolute;
  top: 206px;
  left: 256px;
  border-radius: 28px;
  opacity: 0;
}

.right-arrow {
  width: 41px;
  height: 51px;
  background: white;
  position: absolute;
  z-index: 1;
  left: 320px;
  top: 575px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 9px;
  opacity: 0;
}

.left-arrow {
  width: 42px;
  height: 52px;
  background: white;
  position: absolute;
  z-index: 1;
  left: 227px;
  top: 574px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 4px;
  opacity: 0;
  transform: scaleX(-1);
}

.heart {
  background: url('imgs/donkeyKong game sprite.gif') no-repeat -207px -269px;
	width: 13px;
	height: 11px;
}

#game {
  background-image: url('../images/background.png');
  background-size: contain;
  width: 284px;
  height: 254px;
  //background-color: yellow;
  z-index: 1;
  position: absolute;
  left: 307px;
  top: 125px;
  opacity: 1;
}

.black-screen {
  width: 284px;
  height: 254px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 115px;
  z-index: 2;
  position: absolute;
  left: 307px;
  top: 125px;
}

.welcome {
  background-image: url('https://m.popkey.co/9c4b0f/L9566.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F7F7F7;
  width: 284px;
  height: 254px;
  //background-color: yellow;
  z-index: 2;
  position: absolute;
  left: 307px;
  top: 125px;
}
